/*----------------------------------------------------------*/
/*---- General --------------------------------------------*/
/*--------------------------------------------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d9d9e1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none !important;
}

/*----------------------------------------------------------*/
/*---- Image Upload ---------------------------------------*/
/*--------------------------------------------------------*/

.imgUpload {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgUpload img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #c4c4c4;
}
.imgUpload label {
  position: relative;
}
.imgUploadBtn {
  position: absolute;
}
.imgHere svg,
.imgHere p {
  color: white;
  text-shadow: 0 0px 10px black;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/*----------------------------------------------------------*/
/*---- AppBar ---------------------------------------------*/
/*--------------------------------------------------------*/
header a {
  color: #fff;
}
header a:hover{
  color: #889fce;
}
.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: .3rem;
  color: inherit;
}
.logo svg {
  margin-top: -3px;
}
.logo + div {
  flex-grow: unset;
}
.logo--xs {
  margin: 0 auto;
}
.logo--xs + div + div {
  margin: 0;
}

/*----------------------------------------------------------*/
/*---- Dashboard ------------------------------------------*/
/*--------------------------------------------------------*/

.card__list a {
  display: block;
}


/*----------------------------------------------------------*/
/*---- Media Queries --------------------------------------*/
/*--------------------------------------------------------*/

@media screen and (max-width: 400px) {
    header .MuiContainer-root {
      padding-left: 0;
  }
    .logo--xs a {
      font-size: 1rem;
  }
}
@media screen and (max-width: 899px) {
  .logo {
    display: none;
  }
  .logo--xs {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
    .logo--xs {
      display: none;
  }
  .logo {
    margin-right: 2rem;
  }
    .MuiToolbar-root div:last-child {
    margin-left: auto;
  }
}